<table class="table table-striped">
  <thead>
      <tr>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users">
          <td>{{user.email}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
      </tr>
  </tbody>
</table>
<h3>Create User</h3>
<form>
  <input placeholder="Enter email" [(ngModel)]="user.email"/><br>
  <input placeholder="Enter First Name"[(ngModel)]="user.first_name"><br>
  <input placeholder="Enter Last Name" [(ngModel)]="user.last_name"/><br>
  <button type="submit" (click)="createUser()">Save</button>
</form>